<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techman</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <header>
        <h1>Techman</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="equipments.html">Equipamentos</a></li>
                <li><a href="comments.html">Comentários</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>